
**/__pycache__
**/output
**/*.pyc

**/static_cdn
.env
**/env
**/*.jpeg
**/*.jpg
**/*.png
!./images/sample1.png
!./images/sample2.png
**/*.log
**/logs
**/media
**/process
**/process/*
**/bin/*
**/migrations
**/celerybeat-schedule
