
**/__pycache__
**/output
**/*.pyc

**/static_cdn
.env
**/env
**/*.jpeg
**/*.jpg

**/*.png
!samples/sample1.png
!samples/sample2.png

**/*.log
**/logs
**/media
**/process
**/process/*
**/bin/*
**/migrations
**/celerybeat-schedule
