{% extends "base.html" %}
{% load static %}

{% block title %}
Recommendations Detail for {{user.username}} | Deakin
{% endblock %}


 {% block content %}
 <main role="main" class="container">
      <div class="jumbotron">
    
			<div class="searchbox">
           <p class="lead">
            <div class="card-header"><h3><b>
              List Product Recommendations</h3></b>
            </div>
          
      </p>
      <div class="col-sm-offset-1" style=" margin-left:1%";>
      <h5>Search for: <b>{{recommendation_obj.search_query}}</b></h5>
      <div class="col-sm-offset-1" style=" margin-left:63%";>
      </div>
      </div>
      <br/>
      <table class="table">
        <thead class="thead-dark">
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Search Image</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Platform</th>
        </tr>
        </thead>

        <tbody>
        {% for recommendation in recommendation_details %}
        <tr>
          <td>{{recommendation.id}}</td>
          <td><a href='{{recommendation.Url}}'>{{recommendation.Name}}</a></td>
          {% with "/"|add:recommendation_obj.search_image as image_path %}
          <td> <img src='{{image_path}}' heigth='60' width='100'/></td>
          {% endwith %}
          <td> <img src='{{recommendation.Image}}' heigth='60' width='100'/></td>
          <td>{{recommendation.Price}}</td>
          <td>{{recommendation.Platform}}</td>
       </tr>
        {% endfor %}
      </tbody>
      </table>
      <br/><br/><br/>


      </div>
    </main>

{% endblock %}