{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='{% static "js/jquery-2.2.4.min.js" %}'></script>
  
   <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'>
   <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-theme.min.css" %}'>
  <link rel="stylesheet" href='{% static "css/navbar-static_navbar-top.css" %}'>

  {% block header %}{% endblock %}
  <title>

    {% block title %}
       Recommendation System
    {% endblock %}
    </title>
</head>

<body>
   <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{% url 'home' %}"><img src='{% static "img/bot.png" %}' heigth='20' width='40'></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">User History</a>
          </li>


          </ul>
            <ul class='nav'>
          {% if user.is_authenticated %}
                <li class="nav-item navbar-right dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color: #FFFFFF'>
                      {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="">About</a>
                    </div>

                 </li>
          {% else %}
              <li class="nav-item navbar-right active">
                <a class="nav-link" href="{% url 'login' %}">login</a>
              </li>
          {% endif %}
           

        </ul>
      </div>
      </nav>
    {% block content %}
    {% endblock %}

     <script src='{% static "js/popper.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     -->
     <script>
      var loc = window.location
      var wsStart = "ws://"
      if (loc.protocol == "https:"){
          wsStart = "wss://"
      }
      var webSocketEndpoint =  wsStart + loc.host + '/notifications/'  // ws : wss   // Websocket URL, Same on as mentioned in the routing.py


      var socket = new WebSocket(webSocketEndpoint) // Creating a new Web Socket Connection

      // Socket On receive message Functionality
      socket.onmessage = function(e){
          // console.log('message', e)
          // console.log(e.data) // Access the notification data
          // Show bot message of completion.
          showBotMessage(e.data)
      }

      // Socket Connect Functionality
      socket.onopen = function(e){
          console.log('open', e)
      }

      // Socket Error Functionality
      socket.onerror = function(e){
          console.log('error', e)
      }

      // Socket close Functionality
      socket.onclose = function(e){
          console.log('closed', e)
      }
  </script>
</body>
    <footer>
      <script src='{% static "js/bind.js" %}'></script>
        {% block other_footers %}{% endblock %}
    </footer>

</html>
