{% extends "base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href='{% static "css/chat_interface.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/temporary.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/Material_Icons.css" %}'>
{% endblock %}
{% block title %}
CHAT | HOME
{% endblock %}

{% block content %}
     
    <div class="fluid-container">
         <div class="row" style='margin-left: 28%;'>
            <h1 align="center">eCommerce Recommendation System</h1>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="chat_window">
                            <ul class="messages"></ul>
                            <div class="bottom_wrapper clearfix">
                                <div class="message_input_wrapper">
                                    <input id="msg_input" class="message_input" placeholder="Say Hi to begin chat..." data-toggle="tooltip" data-placement="top" title="Type clear to clear search operation before start"/>
                                </div>
                                <div class="send_message">
                                     <div class="text">send</div>
                                </div>
                            </div>
                            <div class="bottom_wrapper image_upload" style='display:none; margin-left: 25%'>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Upload an image">
                                    <label for="upload-photo" id='image_upload'>Upload Image</label>
                                </a>
                                <input type="file" id="image-input" class="form-control-file" >
                            </div>
                        </div>
                        <div class="message_template">
                            <li class="message">
                                <div class="avatar">
                                    <img id='bot_avatar' src='{% static "img/bot.png" %}' heigth='20' width='70' class='bot_avatar'>
                                </div>
                                <div class="text_wrapper">
                                    <div class="text"></div>
                                </div>
                                <div class="image_wrapper" style='display:none; margin-left:60%'>
                                    <img id='search_image_preview' src='{% static "img/bot.png" %}' heigth='120' width='200' class='user_images'>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}

{% block other_footers %}
<script src='{% static "js/bind.js" %}'></script>
<script src='{% static "js/image_handler.js" %}'></script>
{% endblock %}
